---
import { siteConfig } from '../config';
---

<footer class="site-footer">
  <div class="container footer-inner">
    <p>© {new Date().getFullYear()} {siteConfig.author}</p>
    <a href="/rss.xml">RSS</a>
  </div>
</footer>
